body {
  background-color: #D8C8A9;
}

#a
{
  text-align: center;
  color: #A56148
  
}

#b
{
  text-align: center;
  color: #A56148
}

#c
{
  text-align: center;
  color: #A56148
}

#d
{
  text-align: center;
  color: #A56148
}
