body {
  background-color: #D8C8A9;
}

#a
{
  text-align: center;
  color: #A56148

}

#b
{
  text-align: center;
  color: #A56148
}

#c
{
  text-align: center;
  color: #A56148
}

#d
{
  text-align: center;
  color: #A56148
}

.page1{
  text-align: center;
  color:#A56148;
}

.page2{
  text-align: center;
  color: #A56148;
}

.page3{
    text-align: center;
    color: #A56148;
}

.three{
  text-align: center;
  color: #A56148;
}

.two{
  text-align: center;
  color: #A56148;
}

.homepage{
display: block;
margin-left: auto;
margin-right: auto;
  width: 600px;
  height: auto;

}

.page1{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;
}

.page2{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;
}

.page3{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;
}
